<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2><%= title %></h2>
    <a href="/user_registration" class="btn btn-sm btn-primary">Tilføj medlem</a><br/><br/>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Bruger ID</th>
            <th>Navn</th>
            <th>Alder</th>
            <th>Køn</th>
            <th>Adresse</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.gender %></td>
                <td><%= user.address %></td>
                <td><%= user.phone_number %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

</body>
</html>